body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

nav {
    background-color: #d02b2b; /* Dark background for the nav */
}

.nav-container {
    display: flex;
    justify-content: center; /* Center the nav-list */
    align-items: center;
    position: relative;
}

.nav-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Align items horizontally */
}

.nav-list li {
    margin: 0 20px; /* Spacing between items */
}

.nav-list a {
    text-decoration: none; /* Remove underlines */
    color: rgba(255, 255, 255, 0.554); /* White text color */
    padding: 14px 20px; /* Padding around the text */
    display: block; /* Make the link fill the list item */
}

.nav-list a:hover {
    background-color: #676464; /* Darker background on hover */
    transition: background-color 0.8s; /* Smooth transition */
}


.form-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    color: #333;
}

.form-container label {
    display: block;
    margin-top: 15px;
    color: #555;
}

.form-container input, .form-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #d02b2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form-container textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.form-container button:hover {
    background-color: #a82323;
}

.profile {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px; /* Move the profile to the far right */
}

.profile a {
    text-decoration: none; /* Remove underlines */
    color: rgba(255, 255, 255, 0.554); /* White text color */
    padding: 14px 20px; /* Padding around the text */
    display: block; /* Make the link fill the list item */
}

.profile a:hover {
    background-color: #676464; /* Darker background on hover */
    transition: background-color 0.3s; /* Smooth transition */
}